header.header
    .firstline#header
        .container
            a.logo(href='#')
                img.logo-img(src='img/logo.svg')

            .landing-menu
                - var menu_items = ["НОВОСТИ","УСЛУГИ","О НАС","КЛИЕНТЫ","ПРОЕКТЫ","КОНТАКТЫ","ВАКАНСИИ","ОТПРАВИТЬ БРИФ"];
                - var menu_items_link = ["#news","#uslugi","#about","#clients","#projects","#contacts","#","#"];
                #hamburger.hamburger
                    span.line
                    span.line
                    span.line
            ul.menu-list#menu
                li.menu-list__li
                    .socials_block_menu
                        ul.social__list
                            li.social__item
                                a.social__link.social__link_fb(href='https://www.facebook.com/ContactoAgency/' target='_blank')
                            li.social__item
                                a.social__link.social__link_vk(href='https://vk.com/contactopr' target='_blank')
                            li.social__item
                                a.social__link.social__link_insta(href='https://www.instagram.com/contactopr/' target='_blank')
                - for (var i = 0; i< menu_items.length; i++)
                    if (menu_items[i] == "ОТПРАВИТЬ БРИФ")
                        li.menu-list__li
                            a.menu-list__a.menu-list__a--briff(href=menu_items_link[i] rel=i+1) #{menu_items[i]}
                    else
                        li.menu-list__li
                            a.menu-list__a(href=menu_items_link[i] rel=i+1) #{menu_items[i]}
            .socials_block.socials_block-header
                ul.social__list
                    li.social__item
                        a.social__link.social__link_fb(href='https://www.facebook.com/ContactoAgency/' target='_blank')
                    li.social__item
                        a.social__link.social__link_vk(href='https://vk.com/contactopr' target='_blank')
                    li.social__item
                        a.social__link.social__link_insta(href='https://www.instagram.com/contactopr/' target='_blank')


